.ag-theme-quartz {
  --ag-header-height: 45px;
  --ag-foreground-color: #6e6893;
  --ag-header-background-color: #f4f2ff;
  --ag-border-color: #d9d5ec;
}

.ag-root-wrapper {
  border-radius: 4px;
}

.no-border.ag-cell:focus {
  border: none !important;
  outline: none;
}
